<div class="card">
    <h4 class="card-header">Review artikel</h4>
    <div class="card-body">
        titel: <br>{{article.title}}<br><br>
        subTitle: <br>{{article.subTitle}}<br><br>
        shortSummary: <br>{{article.shortSummary}}<br><br>
        body: <br>{{article.body}}<br><br>
        tag: {{article.tagID}}<br>
        user: {{article.userID}}<br>
        status: {{article.articleStatusID}}<br>
        image: {{article.imageID}}
    </div>
</div>
<div class="form-group">
    <button (click)="publish()" [disabled]="loading" class="btn btn-primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Publish
    </button>
    <a routerLink="/review" class="btn btn-link">Terug</a>
</div>